{% extends "../base.html" %}
{% block content %}
{% if blogs is none %}
<div class="my-5 py-5">
    <div class="section full-height">
        <div class="absolute-center">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1><span>T</span><span>h</span><span>e</span><span>r</span><span>e</span><span> </span>
                              <span>i</span><span>s</span><span> </span>
                              <span>n</span><span>o</span><span>t</span><span>h</span><span>i</span><span>n</span><span>g</span>
                              <br>
                                <span>t</span><span>o</span><span> </span>
                                <span>s</span><span>h</span><span>o</span><span>w</span><span> </span>
                                <span>h</span><span>e</span><span>r</span><span>e</span><span>!</span>
                              </h1>
                                <p></p>
                            </div>	
                        </div>		
                    </div>		
                </div>
            </div>
    </div>
</div>
{% else %}
<div class="absolute-center">
<div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
    {% for blog in blogs %}
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="{{ blog.image }}" alt="No Image" onerror="this.src='https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg'" />
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">{{ blog.date_created }}</span>
          <div class="blog-slider__title">{{ blog.title }}</div>
          <div class="blog-slider__text">{{ blog.content|truncatechars:100 }}</div>
          <a href="/blog/{{ blog.id }}" class="blog-slider__button">READ MORE</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="blog-slider__pagination"></div>
  </div>
  </div>
{% endif %}
{% endblock content %}